.about {
  border: 1px dotted #ffcecf;
  margin: 0 auto;
  min-width: 500px;
  padding: 2%;
  width: 40%;
}
.about-picture {
  width: 100%;
}
.credits {
  bottom: 3%;
  position: fixed;
  right: 3%;
}
.footer-space {
  height: 5%;
}
.exhibit {
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}
.exhibit-item {
  border: 1px dotted #ffcecf;
  margin-bottom: 4%;
  width: 100%;
}
.header {
  display: block;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  max-height: 25%;
  max-width: 80%;
}
.header-small {
  height: 8%;
  margin-bottom: 2%;
}
.nav {
  height: 25%;
  text-align: center;
}
.nav-button {
  display: inline-block;
  height: 100%;
  margin: 2%;
}
.nav-button-image {
  display: block;
  height: 80%;
  margin: 0 auto;
}
.nav-button-label {
  display: block;
  height: 20%;
  margin: 0 auto;
}
a {
  color: #721313;
  cursor: url("images/cursor.png"), auto;
  text-decoration: none;
}
a:hover {
  color: #ffcc02;
}
body {
  height: 100%;
  width: 100%;
}
html {
  background-color: #f9f7f7;
  color: #d86565;
  cursor: url("images/cursor.png"), auto;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.2em;
  height: 98%;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}