/* Universal site styling. */
html {
  background-color: #fefefe;
  color: #3e4248;
  cursor: url("images/cursor.png"), auto;
  font-family: 'Jua', sans-serif;
  height: 100%;
  margin: 0vmin;
  padding: 0vmin;
  width: 100%;
}
body {
  height: 100%;
  margin: 0vmin;
  padding: 0vmin;
  width: 100%;
}

a {
  color: #f8b93a;
  cursor: url("images/cursor.png"), auto;
  text-decoration: none;
}
a:hover {
  color: #ff7c56;
}
hr {
  border: none;
  border-top: 1px dashed #3e4248;
  width: 100%;
}

.image-button:hover {
  opacity: 0.5;
}
.social-media {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.social-media-item {
  margin: 0.8vmin;
  width: 2.8vmin;
}
.text-button:hover {
  color: #ff7c56;
}
.title {
  width: 20vmin;
}

/* Body structure. */
.nav {
  background-color: #fefefe;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  padding: 3.6vmin;
  position: fixed;
  z-index: 2;
}
.nav-mobile-header-padder {
  float: top;
  width: 100%;
}
.nav-item {
  font-weight: bold;
  white-space: nowrap;
}
.nav-spacer {
  flex: 1 1 auto;
}
.nav-footer {
  font-size: 1.6vmin;
}

.nav-mobile-header {
  align-items: center;
  background-color: #fefefe;
  display: flex;
  flex-direction: row;
  height: 16vmin;
  position: fixed;
  width: 100%;
  z-index: 3;
}
.nav-mobile-title {
  height: 12vmin;
}
.nav-mobile-menu-button {
  height: 8vmin;
  padding: 4vmin;
}

.content-nav-padder {
  float: left;
  height: 100%;
}
.content {
  overflow-x: hidden;
  padding: 4vmin;
}
.content-overlay {
  background-color: #181818;
  display: none;
  height: 200%;
  opacity: 0.8;
  position: fixed;
  width: 200%;
  z-index: 1;
}

/* Exhibit pages. */
.exhibit {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.exhibit-item {
  background-color: #ffffff;
  flex: 0 1 auto;
  padding-bottom: 4vmin;
  padding-right: 4vmin;
}
.exhibit-image:hover {
  opacity: 0.5;
}

/* About page. */
.about {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about-description {
  flex: 0 1 auto;
  width: 64vmin;
}
.about-picture {
  flex: 0 1 auto;
  margin-bottom: 4vmin;
  margin-right: 4vmin;
  width: 36vmin;
}
